{{#*inline "page"}}

<h1>Chat App Admin</h1>
<h2>Menu:</h2>

<p><a href="/messages">Show messages</a></p>
<p><a href="/messages/form">Show messages for nickname</a></p>
<p><a href="delete/form">Delete messages for nickname</a></p>

{{/inline}}
{{> layout}}
